.sectioneTimework {
  display: flex;
  height: 269px;
  align-items: flex-start;

  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  background: linear-gradient(
      90deg,
      var(--mapBackground-color) 40.96%,
      rgba(255, 255, 255, 0.5) 58.58%,
      rgba(255, 255, 255, 0) 100%
    ),
    url('../img/4-sectioneTimework/e8cd17c482a10c82f2427393224bd0a1.png') lightgray -140px -440px /
      148.997% 390.713% no-repeat;
  background-size: initial;

  @media (max-width: 1280px) {
    background: linear-gradient(
        90deg,
        var(--mapBackground-color) 40.96%,
        rgba(255, 255, 255, 0.5) 58.58%,
        rgba(255, 255, 255, 0) 100%
      ),
      url('../img/4-sectioneTimework/e8cd17c482a10c82f2427393224bd0a1.png') lightgray -310px -435px /
        148.997% 390.713% no-repeat;
    background-size: initial;
  }
  @media (max-width: 992px) {
    background: linear-gradient(
        90deg,
        var(--mapBackground-color) 40.96%,
        rgba(255, 255, 255, 0.5) 58.58%,
        rgba(255, 255, 255, 0) 100%
      ),
      url('../img/4-sectioneTimework/e8cd17c482a10c82f2427393224bd0a1.png') lightgray -500px -400px /
        148.997% 390.713% no-repeat;
    background-size: initial;
  }

  @media (max-width: 768px) {
    height: 360px;
    align-self: stretch;
    background: linear-gradient(
        180deg,
        var(--mapBackground-color) 60.67%,
        rgba(255, 255, 255, 0.5) 77.08%,
        rgba(255, 255, 255, 0) 100%
      ),
      url('../img/4-sectioneTimework/e8cd17c482a10c82f2427393224bd0a1.png') lightgray -374px -35px /
        283.277% 154.184% no-repeat;
    background-size: 200%;
  }
  @media (max-width: 670px) {
    background: linear-gradient(
        180deg,
        var(--mapBackground-color) 60.67%,
        rgba(255, 255, 255, 0.5) 77.08%,
        rgba(255, 255, 255, 0) 100%
      ),
      url('../img/4-sectioneTimework/e8cd17c482a10c82f2427393224bd0a1.png') lightgray -374px 10px / 283.277%
        154.184% no-repeat;
    background-size: 220%;
  }
  @media (max-width: 560px) {
    background: linear-gradient(
        180deg,
        var(--mapBackground-color) 60.67%,
        rgba(255, 255, 255, 0.5) 77.08%,
        rgba(255, 255, 255, 0) 100%
      ),
      url('../img/4-sectioneTimework/e8cd17c482a10c82f2427393224bd0a1.png') lightgray -374px -5px /
        283.277% 154.184% no-repeat;
    background-size: 275%;
  }
  @media (max-width: 425px) {
    background: linear-gradient(
        180deg,
        var(--mapBackground-color) 60.67%,
        rgba(255, 255, 255, 0.5) 77.08%,
        rgba(255, 255, 255, 0) 100%
      ),
      url('../img/4-sectioneTimework/e8cd17c482a10c82f2427393224bd0a1.png') lightgray -374px 20px / 283.277%
        154.184% no-repeat;
    background-size: 300%;
  }
  .sectioneTimework-body {
    display: flex;
    padding: 40px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    flex-shrink: 0;
    align-self: stretch;

    @media (max-width: 768px) {
      gap: 24px;
      flex: 1 0 0;
    }
    .sectioneTimework-paragraf {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      @media (max-width: 768px) {
        align-items: center;
        gap: 16px;
      }
      .Timework-paragrafOne {
        align-self: stretch;

        color: var(--basicText-color);

        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 175% */

        @media (max-width: 768px) {
          text-align: center;
        }
      }
      .Timework-paragrafTwo {
        align-self: stretch;

        color: var(--basicText-color);

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }
    .Timework-paragraf-a {
      display: flex;
      padding: 16px 48px;
      justify-content: center;
      align-items: center;

      border-radius: 50px;
      border: 2px solid var(--themeColor-color);
      background: var(--sectionBackground-color);

      color: var(--themeColor-color);
      leading-trim: both;
      text-edge: cap;

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      text-decoration: none;

      @media (max-width: 768px) {
        margin: 0 auto;
        max-width: 280px;
        padding: 8px 48px;
        align-self: stretch; /* 27px */
      }
    }
  }
}
