:root {
  --bodyBackground-color: #efeff5;
  --sectionBackground-color: #fff;
  --mapBackground-color: #fff;

  --basicText-color: #333;
  --additionalText-color: #fff;
  --nameBrandText-color: #777;

  --line-color: #f5f5f5;

  --themeColor-color: #13dd8b;
  --themeColorToGradient-color: #0eb7d4;
}
