.sectioneLocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 225px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  background: -webkit-gradient(linear, left top, right top, color-stop(42.19%, var(--mapBackground-color)), color-stop(58.58%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray 340px -284px/127.28% 399.034% no-repeat;
  background: linear-gradient(90deg, var(--mapBackground-color) 42.19%, rgba(255, 255, 255, 0.5) 58.58%, rgba(255, 255, 255, 0) 100%), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray 340px -284px/127.28% 399.034% no-repeat;
  background-size: 115%;
}
@media (max-width: 1320px) {
  .sectioneLocation {
    background: -webkit-gradient(linear, left top, right top, color-stop(42.19%, var(--mapBackground-color)), color-stop(58.58%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray 300px -170px/127.28% 399.034% no-repeat;
    background: linear-gradient(90deg, var(--mapBackground-color) 42.19%, rgba(255, 255, 255, 0.5) 58.58%, rgba(255, 255, 255, 0) 100%), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray 300px -170px/127.28% 399.034% no-repeat;
    background-size: 115%;
  }
}
@media (max-width: 1120px) {
  .sectioneLocation {
    background: -webkit-gradient(linear, left top, right top, color-stop(42.19%, var(--mapBackground-color)), color-stop(58.58%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray 200px -170px/127.28% 399.034% no-repeat;
    background: linear-gradient(90deg, var(--mapBackground-color) 42.19%, rgba(255, 255, 255, 0.5) 58.58%, rgba(255, 255, 255, 0) 100%), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray 200px -170px/127.28% 399.034% no-repeat;
    background-size: 125%;
  }
}
@media (max-width: 992px) {
  .sectioneLocation {
    background: -webkit-gradient(linear, left top, right top, color-stop(42.19%, var(--mapBackground-color)), color-stop(58.58%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray 100px -120px/127.28% 399.034% no-repeat;
    background: linear-gradient(90deg, var(--mapBackground-color) 42.19%, rgba(255, 255, 255, 0.5) 58.58%, rgba(255, 255, 255, 0) 100%), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray 100px -120px/127.28% 399.034% no-repeat;
    background-size: 135%;
  }
}
@media (max-width: 768px) {
  .sectioneLocation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 280px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(56.24%, var(--mapBackground-color)), color-stop(75.1%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray -320px -105px/114.829% 100% no-repeat;
    background: linear-gradient(180deg, var(--mapBackground-color) 56.24%, rgba(255, 255, 255, 0.5) 75.1%, rgba(255, 255, 255, 0) 100%), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray -320px -105px/114.829% 100% no-repeat;
    background-size: 200%;
  }
}
@media (max-width: 670px) {
  .sectioneLocation {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(56.24%, var(--mapBackground-color)), color-stop(75.1%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray -240px -40px/114.829% 100% no-repeat;
    background: linear-gradient(180deg, var(--mapBackground-color) 56.24%, rgba(255, 255, 255, 0.5) 75.1%, rgba(255, 255, 255, 0) 100%), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray -240px -40px/114.829% 100% no-repeat;
    background-size: 200%;
  }
}
@media (max-width: 560px) {
  .sectioneLocation {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(56.24%, var(--mapBackground-color)), color-stop(75.1%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray -330px -55px/114.829% 100% no-repeat;
    background: linear-gradient(180deg, var(--mapBackground-color) 56.24%, rgba(255, 255, 255, 0.5) 75.1%, rgba(255, 255, 255, 0) 100%), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray -330px -55px/114.829% 100% no-repeat;
    background-size: 250%;
  }
}
@media (max-width: 425px) {
  .sectioneLocation {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(56.24%, var(--mapBackground-color)), color-stop(75.1%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray -442px -85px/114.829% 100% no-repeat;
    background: linear-gradient(180deg, var(--mapBackground-color) 56.24%, rgba(255, 255, 255, 0.5) 75.1%, rgba(255, 255, 255, 0) 100%), url("../img/2-sectioneLocation/e8cd17c482a10c82f2427393224bd0a1.png") lightgray -442px -85px/114.829% 100% no-repeat;
    background-size: 310%;
  }
}
.sectioneLocation .sectioneLocation-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
@media (max-width: 1280px) {
  .sectioneLocation .sectioneLocation-body {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .sectioneLocation .sectioneLocation-body {
    padding: 20px 30px;
    gap: 16px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
  }
}
.sectioneLocation .sectioneLocation-body .sectioneLocation-p {
  color: var(--basicText-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
@media (max-width: 768px) {
  .sectioneLocation .sectioneLocation-body .sectioneLocation-p {
    text-align: center;
    font-size: 14px;
  }
}
.sectioneLocation .sectioneLocation-body .sectioneLocation-p .sectioneLocation-p-span {
  font-weight: 500;
  line-height: 150%;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
@media (max-width: 768px) {
  .sectioneLocation .sectioneLocation-body .sectioneLocation-p .sectioneLocation-p-span {
    display: block;
    width: 100%;
  }
}
.sectioneLocation .sectioneLocation-body .sectioneLocation-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  border: 2px solid var(--themeColor-color);
  background: var(--sectionBackground-color);
  color: var(--themeColor-color);
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-decoration: none;
}
@media (max-width: 768px) {
  .sectioneLocation .sectioneLocation-body .sectioneLocation-a {
    margin: 0 auto;
    max-width: 280px;
    padding: 8px 48px;
  }
}/*# sourceMappingURL=2-sectioneLocation.css.map */